@import './token.less';

@scroll-prefix-cls: ~'@{prefix}-columns-setting';

.@{scroll-prefix-cls} {
  &-btn {
    font-size: 20px !important;
  }

  &-content {
    display: flex;
    gap: 20px;
    height: 500px;
  }

  &-left {
    flex-grow: 1;
  }

  &-right {
    display: flex;
    flex: 0 0 200px;
    flex-direction: column;
    overflow: hidden;
  }

  &-right-header {
    padding: 6px 10px;
    background-color: var(--color-neutral-2);
  }

  &-group-item {
    & + & {
      margin-top: 10px;
    }
  }

  &-group-content {
    padding: 10px 0;

    .arco-checkbox {
      width: 100%;
    }

    .arco-grid-item {
      overflow: hidden;
    }

    .arco-checkbox-label {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-group-title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px;
    background-color: var(--color-neutral-2);
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-sort-wrap {
    padding: 12px 0;
  }

  &-sort-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px 6px 2px;
    background-color: #fff;
    cursor: move;

    &-delete-disabled {
      .arco-icon-close {
        visibility: hidden;
      }
    }

    &-sort-disabled {
      cursor: not-allowed;
      .arco-icon-drag-dot-vertical {
        visibility: hidden;
      }
    }

    &-content {
      display: flex;
      flex-grow: 1;
      align-items: center;
      min-width: 0;
      .arco-icon-drag-dot-vertical {
        flex-shrink: 0;
        margin-right: 4px;
      }
    }

    &-label {
      flex-grow: 1;
      min-width: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    & + & {
      margin-top: 10px;
    }

    &:hover {
      background-color: var(--color-neutral-1);
    }

    .arco-icon-close {
      flex-shrink: 0;
      cursor: pointer;
    }

    .arco-icon-close:hover {
      color: rgb(var(--arcoblue-6));
    }
  }
}
